#leafletMap {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#leafletMap .park-icon-wpp:after {
  font-family: RMS;
  font-size: 22pt;
  content: "A";
  margin-left: 7px;
  margin-top: -2px; }

#leafletMap .park-icon-spp:after {
  font-family: RMS;
  font-size: 22pt;
  content: "B";
  margin-left: 7px;
  margin-top: -2px; }

#leafletMap .park-icon-hpp:after {
  font-family: RMS;
  font-size: 22pt;
  content: "C";
  margin-left: 7px;
  margin-top: -2px; }

#leafletMap .park-icon-wtg:after {
  font-family: RMS;
  font-size: 22pt;
  content: "E";
  margin-left: 7px;
  margin-top: -2px; }

#leafletMap .park-icon-inv:after {
  font-family: RMS;
  font-size: 22pt;
  content: "F";
  margin-left: 7px;
  margin-top: -2px; }

#leafletMap .park-icon-gen:after {
  font-family: RMS;
  font-size: 22pt;
  content: "G";
  margin-left: 7px;
  margin-top: -2px; }

#leafletMap .run {
  border: 4px solid #39B54A; }

#leafletMap .ready {
  border: 4px solid #0071BC; }

#leafletMap .stop {
  border: 4px solid #C1272D; }

#leafletMap .maint {
  border: 4px solid #FCEE21; }

#leafletMap .restricted {
  border: 4px solid #F7931E; }

#leafletMap .repair {
  border: 4px solid #A67C52; }

#leafletMap .nocomm {
  border: 4px solid #D927BF; }

/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
  background-color: #b5e28c; }

.leaflet-oldie .marker-cluster-small div {
  background-color: #6ecc39; }

.leaflet-oldie .marker-cluster-medium {
  background-color: #f1d357; }

.leaflet-oldie .marker-cluster-medium div {
  background-color: #f0c20c; }

.leaflet-oldie .marker-cluster-large {
  background-color: #fd9c73; }

.leaflet-oldie .marker-cluster-large div {
  background-color: #f18017; }

/* Park Marker */
.leaflet-marker-pane {
  z-index: 10; }

.leaflet-map-pane svg {
  z-index: 0; }

/*#leafletMap .triangle {
    &:after {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 5px 0 5px;
        border-color: #039b54 transparent transparent transparent;
    }
}*/
.marker-cluster-eolicPark {
  z-index: 1000;
  background-color: white;
  background-repeat: no-repeat;
  background-clip: padding-box;
  border-radius: 50px;
  border-color: #cccccc;
  margin-left: -23px !important;
  margin-top: -23px !important; }

.eolicParkNoBack {
  background-image: url("../img/Markers/MarkerEolic.png"); }

.marker-cluster-solarPark {
  background-size: 55px 55px;
  background-repeat: no-repeat;
  background-clip: padding-box;
  border-radius: 50px;
  margin-left: -23px !important;
  margin-top: -23px !important;
  border: 4px solid #39b54a; }

.marker-cluster-hydroPark {
  background-size: 55px 55px;
  background-repeat: no-repeat;
  background-clip: padding-box;
  border-radius: 20px;
  margin-left: -23px !important;
  margin-top: -23px !important;
  border: 4px solid #39b54a; }

.marker-cluster-childCount {
  border-radius: 50%;
  padding: 1px;
  position: relative;
  padding-left: 6px;
  background-color: red;
  color: white;
  margin-left: 30px;
  bottom: 10%; }

/* Asset Eolic Marker */
.marker-cluster-eolic {
  /* background-size: 50px 50px; */
  background-repeat: no-repeat;
  background-clip: padding-box;
  border-radius: 50px;
  margin-left: -32px !important;
  margin-top: -32px !important;
  background-color: white; }

/* Asset Solar Marker */
.marker-cluster-solar {
  background-size: 55px 55px;
  background-repeat: no-repeat;
  background-clip: padding-box;
  border-radius: 50px;
  margin-left: -32px !important;
  margin-top: -32px !important;
  background-color: white; }

/* Asset Hydro Marker */
.marker-cluster-hydro {
  /* background-size: 50px 50px; */
  background-repeat: no-repeat;
  background-clip: padding-box;
  border-radius: 20px;
  margin-left: -32px !important;
  margin-top: -32px !important;
  background-color: white; }

/* Number of markers clustered */
.marker-cluster div {
  width: 45px;
  height: 45px;
  margin-left: 6px;
  text-align: right;
  font: 12px "Helvetica Neue", Arial, HelveticaNeue, sans-serif;
  border-radius: 50%;
  z-index: 10000; }

.marker-cluster span {
  border-radius: 50%;
  padding: 2px;
  border: 1px solid red;
  position: relative;
  left: 10%;
  padding-left: 5px;
  padding-right: 5px;
  background-color: red;
  color: white; }

/* Popups */

.leaflet-popup {
    width: 50px !important;
}


.leaflet-popup-content {
  line-height: 15.5px;
  /*margin-left: 7px !important;*/
  visibility: visible; }

.leaflet-popup-content-wrapper {
  background: transparent;
  box-shadow: none;
  height: 26px !important;
  margin-left: 30px !important;
  margin-top: 8px;
  z-index: -1;
  position: relative;
  visibility: hidden; }

.assetTag .leaflet-popup-content-wrapper {
  background: transparent !important; }

.leaflet-popup-content-wrapper {
  width: 130px;
  border-radius: 0px !important;
  /*background-image: url("../images/Polygons/empty.png");
  border-radius: 0px;
  padding: 0px;
  width: 139px !important;
  font: 10px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);*/ }

.leaflet-popup-tip {
  background: transparent;
  height: 0px;
  width: 0px; }

.leaflet-popup-park {
  height: 30px; }

.leaflet-popup-park .leaflet-popup-content-wrapper {
  background-color: transparent !important;
  margin-left: 38px !important;
  border-radius: 0px !important;
  width: 130px !important;
  margin-bottom: -5px !important;
  margin-top: -40px;
  left: 0px !important;
  bottom: -47px !important;
  border-radius: 0px !important;
  height: 30px; }

.asset-popup .leaflet-popup-content-wrapper {
  background-color: transparent !important;
  margin-left: 48px !important;
  border-radius: 0px !important;
  width: 130px !important;
  margin-bottom: -25px !important;
  left: 0px !important;
  border-radius: 0px !important;
  height: 30px; }

.leaflet-popup-asset {
  left: 0px !important;
  bottom: -47px !important;
  border-radius: 0px !important; }

.leaflet-popup-asset .leaflet-popup-content-wrapper .leaflet-popup-content {
  background-color: transparent !important;
  margin-left: 0px !important;
  padding-left: 25px !important;
  border-radius: 0px !important;
  width: 114px !important; }

/* Circles */
.leaflet-zoom-animated {
  stroke-width: 2px !important; }

.country-canvas-popup, .park-canvas-popup, .region-canvas-popup {
  height: 30px !important; }

/*# sourceMappingURL=MarkerCluster.DefaultCGI.css.map */
