
@font-face {
    font-family: RMS;
    src: url('../fonts/RMS.woff');
    font-stretch: normal;
    font-weight: normal;
}

@font-face {
    font-family: Helvetica-Cn;
    src: url('../fonts/HelveticaNeueLTPro-Cn.woff');
    font-stretch: condensed;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Helvetica-BdCn;
    src: url('../fonts/HelveticaNeueLTPro-BdCn.woff');
    font-stretch: condensed;
    font-weight: bold;
}

@font-face {
    font-family: Helvetica-Th;
    src: url('../fonts/HelveticaNeueLTPro-Th.woff');
    font-stretch: normal;
    font-weight: 200;
}

@font-face {
    font-family: Helvetica-LtCn;
    src: url('../fonts/HelveticaNeueLTPro-LtCn.woff');
    font-stretch: condensed;
    font-weight: 100;
}

@font-face {
    font-family: Meteo;
    src: url('../fonts/Glyphter.woff');
    font-weight: normal;
    font-style: normal;
}

