// Project Variables
$light-background-color: #F6F6F6;
$dark-background-color: #2B2B2B;
$separator-color: #808080;
$select-color: #01CCB1;
$select-color-darker: #01AD96;
$dark-text-color: #323232;
$light-text-color: #FFFFFF;

$navbar-background-color: #323232;
$navbar-background-hover-color: #444444;
$navbar-background-login-color: #272727;
$navbar-text-color: #D3D3D3;
$navbar-text-hover-color: #FFFFFF;
$navbar-text-down-color: #999999;

$login-text-color: #D3D3D3;
$login-background-color: #363636;
$login-background-symbol-color: #313131;
$login-input-background-color: #333333;
$login-input-text-color: #A6A6A6;

$cgi-color: #D0162A;

$status-color-owner: #CCCCCC;
$status-color-run: #39B54A;
$status-color-stop: #C1272D;
$status-color-nocomm: #D927BF;
$status-color-ready: #0071BC;
$status-color-restricted: #F7931E;
$status-color-maintenance: #FCEE21;
$status-color-repair: #A67C52;

$filter-box-background-color: #9BB9B0;
$filter-box-title-background-color: #799C9C;
$monitor-bottom-background-color: #393939;
$monitor-title-color: #ccc;

// Bootstrap Customization
$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$breadcrumb-color: $dark-text-color;
$breadcrumb-active-color: $dark-text-color;
$breadcrumb-separator: ">>";

